@import "tailwindcss";

@theme {
  --color-primary: #EB5B00;
  --color-secondary: #143D60
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

[contentEditable=true]:empty:before {
  content: attr(data-placeholder);
}

[contentEditable=true]:empty:before {
  @apply text-slate-400;
}
